<style type="text/css">
    .uiconsy-icon
    {
        display: inline-block;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
    }

</style>

<script>
    $(function () {
        var liTemplate = '<li class="span1"><a href="#" class="uiconsy-icon" rel="{{filename}}" style="background-image:url(/umbraco/images/umbraco/{{filename}})" title="{{filename}}" class="thumbnail"><i class="{{filename}} large"></i></a></li>';
        var regex = new RegExp('{{filename}}', 'g');
        
        ///--
        /// Does webapi call to get all icons
        function loadIcons(page) {
            if (page == undefined) {
                page = 0;
            }

            $.ajax({
                url: '/umbraco/api/uIconsyBackoffice/geticons/?pageNo=' + page
            }).done(function (data) {
                //console.log(data);
                if (data.length == 0) {
                    // no more data
                    $('#uiconsy-json-page').val('-2');
                    return;
                }

                // set current page
                $('#uiconsy-json-page').val(++page);
                uIconsyShowIcons(data);

                $('#uiconsy-loader').hide();
            });
        }

        ///--
        /// Renders icons
        function uIconsyShowIcons(data) {
            var ul = $('.umb-thumbnails');
            var longString = '';

            // append li's
            for (var i = 0; i < data.length; i++) {
                var li = liTemplate;
                longString += li.replace(regex, data[i]);
            }
            ul.append(longString);
        }


        $('#uiconsy-scroll').scroll(function() {
            var page = $('#uiconsy-json-page').val();
            if (page == -2) {
                // no more pages
                return;
            }

            var scrollPosition = $(this).scrollTop();
            var scrollHeight = $(this)[0].scrollHeight;

            if (scrollHeight - scrollPosition < 1000) {
                loadIcons(page++);
            }
        });
        

        ///--
        /// Handles icon click in modal 
        $(document).on('click', '.uiconsy-icon', function (e) {
            // get icon ddl in iframe
            var iconContainer = $('iframe#right').contents().find('.umbIconDropdownList');

            // get filename from rel, and change hidden field value
            var filename = $(this).attr('rel');
            var path = '/umbraco/images/umbraco/' + filename;
            var iconhf = iconContainer.find('input[id$=tb_icon]');
            iconhf.val(filename);

            // get icon choose link, and insert icon image
            var iconTemplate = '<i class="{{filename}}" style="background-image:url({{path}});padding-left:20px;background-repeat:no-repeat;"></i>';
            var newIcon = iconTemplate.replace('{{filename}}', filename);
            newIcon = newIcon.replace('{{path}}', path);

            // do replace!
            iconContainer.find('a.picker-icons i').replaceWith(newIcon);

            // hide modal
            $(this).parents('.umb-modal').fadeOut();
            e.preventDefault();
            return false;
        });

        // init!
        loadIcons();
    });
</script>


<div class="umb-panel" ng-controller="Umbraco.Dialogs.IconPickerController">
    <div class="umb-panel-header">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="span6">
<!--                <div class="form-search">
                    <i class="icon-search"></i>
                    <input type="text"
                        ng-model="searchTerm"
                        class="umb-search-field search-query"
                        placeholder="Filter...">
                </div>-->
            </div>
        </div>
    </div>

    <div id="uiconsy-scroll" class="umb-panel-body with-footer">

        <div class="umb-loader" ng-hide="icons"></div>
        <div class="umb-control-group">
            <img id="uiconsy-loader" src="/umbraco/assets/img/loader.gif"/>
            <input type="hidden" id="uiconsy-json-page" value="-1" />
            <ul class="umb-thumbnails thumbnails">
                <!-- To revert to Umbraco default, just uncomment this (and search form above), and delete the script tag above -->
                <!--<li class="span1" ng-repeat="icon in icons|filter: searchTerm">
                    <a href="#" title="{{icon}}" class="thumbnail" ng-click="submit(icon)" prevent-default>
                        <i class="{{icon}} large" style="font-size: 32px"></i>
                    </a>
                </li>-->
            </ul>
        </div>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
            </div>
        </div>
    </div>
</div>
